body {
    background-image: url(//img.freepik.com/free-photo/white-alarm-clock-blue-yellow-background-flat-lay_169016-29457.jpg?w=1060&amp;t=st=1683126720~exp=1683127320~hmac=d152d85a7e734cd36d1bc11ed4c9ed3a7a459d9c020256dbef142c00ab4c61c1);

    background-repeat: no-repeat;
    background-size: cover;
}

input {
    margin-left: 210px;
}

.timer {
    margin-top: 50px;
    margin-left: 30px;
    display: flex;
    justify-content: left;
    gap: 100px;

}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.value,
.label {
    font-size: 24px;
    font-weight: 700;

}