body {
    background-image: url(//img.freepik.com/free-photo/white-alarm-clock-blue-yellow-background-flat-lay_169016-29457.jpg?w=1060&t=st=1683119094~exp=1683119694~hmac=d331a6b4fc7d897783337c7c414b08d8d26e04fc0f7dbb73ee6ad8c1283bfc5f);
    background-repeat: no-repeat;
    background-size: cover;
}


input {
    margin-left: 210px;
}

.timer {
    margin-top: 50px;
    margin-left: 30px;
    display: flex;
    justify-content: left;
    gap: 100px;

}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.value,
.label {
    font-size: 24px;
    font-weight: 700;

}